html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.fighters {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
    padding: 0 15px;
}

.fighter {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.fighter:hover {
    box-shadow: 0 0 50px 10px rgba(0,0,0,0.06);
    cursor: pointer;
}

.name {
    align-self: center;
    font-size: 21px;
    margin-top: 20px;
}

.fighter-image {
    height: 260px;
}

#loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.7);
    visibility: hidden;
}


.modal-window{
    position: absolute;
    top: 0;
    display: block;
    background-color: #ddd;
}

.modal-window div {
    margin: 5px 10px;
}

.modal-window label {
    width: 60px;
    display: inline-block;
}

.modal-window input[type="number"]{
    width: 71%;
}

input[type="button"]{
    width: 40%;
    padding: 5px;
    margin: 5px 70px;
}

.container {
    width: 28px;
    height: 28px;
    position: relative;
    margin: 20px auto;
    background: #fcfff4;
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
  }
  .container label {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    left: 4px;
    top: 4px;
    background-image: linear-gradient(to top, #222 0%, #45484d 100%);
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 1);
  }
  .container label:after {
    content: '';
    width: 9px;
    height: 5px;
    position: absolute;
    top: 4px;
    left: 4px;
    border: 3px solid #fcfff4;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    transform: rotate(-45deg);
  }

  .container label:hover::after {
    opacity: 0.3;
  }

  .container input[type="checkbox"] {
    visibility: hidden;
  }

  .container input[type="checkbox"]:checked + label:after {
    opacity: 1;
  }
  
  .health-line{
      width: 210px;
      height: 30px;
      background-color: green;
      position: absolute;
      top: 20px;
      text-align: center;
      padding-top: 5px;
      font-size: 25px;
}

  .line-1 {
      right: 20px;
  }

  .line-2 {
      left: 20px;
  }

  #fight-field .fighter:last-of-type img{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }

  #fight-field {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.message{
    font-size: 45px;
    margin: 50px 0;
}
